<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Videojuego - Nombre del Juego</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Nombre del Juego</h1>
    </header>
    <nav>
        <a href="#descripcion">Descripción</a>
        <a href="#imagenes">Imágenes</a>
        <a href="#comprar">Comprar</a>
    </nav>
    <section id="descripcion">
        <h2>Descripción del Juego</h2>
        <img src="assets/images.jpg" width="300">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tortor sed velit tincidunt condimentum. Nulla facilisi. Mauris a elit nec libero ultricies volutpat. Nulla facilisi. Fusce pretium ex sed justo tempus, non convallis nisl vestibulum. Proin rhoncus justo sit amet leo viverra, eget molestie nunc gravida. Nulla facilisi. Donec suscipit turpis at lect
    </section>

</body>